# Compiled Python files
*.pyc
__pycache__/

# Logs
*.log

# Virtual environment
venv/
env/

# Dependencies
/.venv/
/.idea/
/.vscode/
pip-selfcheck.json

# Environment variables
.env

# Development server pid file
*.pid

# Unit test / coverage reports
.coverage
htmlcov/

# PyCharm
.idea/

# Visual Studio Code
.vscode/

# macOS
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/