name: owntracks

volumes:
  owntracks-store:

services:
  owntracks-frontend:
    image: owntracks/frontend:2.15.3
    ports:
      - 80:80
    volumes:
      - ./home/lorenzo/configs/owntracks-config.js:/usr/share/nginx/html/config/config.js
    environment:
      - SERVER_HOST=owntracks-recorder
      - SERVER_PORT=8083
    restart: unless-stopped
  owntracks-recorder:
    image: owntracks/recorder:1.0.1-43
    restart: unless-stopped
    environment:
      - OTR_PORT=0
    ports:
      - 8083:8083
    volumes:
      - owntracks-store:/store
