services:
  backend:
    image: ghcr.io/lorenzopicoli/lomnia-backend:latest
    container_name: lomnia_backend
    pull_policy: always
    ports:
      - '3010:3010'
    restart: unless-stopped
    env_file:
      - /home/lorenzo/configs/.be_env
  frontend:
    image: ghcr.io/lorenzopicoli/lomnia-frontend:latest
    container_name: lomnia_frontend
    pull_policy: always
    ports:
      - '80:80'
    restart: unless-stopped
    environment:
      API_URL: https://api.lomnia.picco.li
  garage:
    image: dxflrs/garage:v2.1.0
    container_name: garage
    ports:
      - '3900:3900'
      - '3901:3901'
      - '3902:3902'
      - '3903:3903'
    volumes:
      - /home/lorenzo/configs/garage.toml:/etc/garage.toml
      - garage_metadata:/var/lib/garage/meta
      - garage_data:/var/lib/garage/data
    env_file:
      - /home/lorenzo/configs/.garage_env

    restart: unless-stopped
  garageui:
    image: khairul169/garage-webui:1.1.0
    container_name: garage-webui
    restart: unless-stopped
    volumes:
      - /home/lorenzo/configs/garage.toml:/etc/garage.toml:ro
    ports:
      - 3909:3909
    env_file:
      - /home/lorenzo/configs/.garage_ui_env

  rabbitmq:
    image: rabbitmq:4.2.2-management-alpine
    stdin_open: true
    tty: true
    container_name: rabbitmq
    ports:
      # - 5672:5672
      - 15672:15672
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq
    env_file:
      - /home/lorenzo/configs/.rabbitmq_env
  db:
    image: postgis/postgis:18-3.6
    restart: unless-stopped
    # ports:
    # - '5432:5432'
    env_file:
      - /home/lorenzo/configs/.db_env
    volumes:
      - local_pgdata:/var/lib/postgresql
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U lomnia']
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  garage_metadata:
  garage_data:
  local_pgdata:
  rabbitmq-data:
