version: '3.8'
volumes:
  pihole_etc:
  pihole_dnsmasq:

services:
  pihole:
    # cap_add:
    # - NET_ADMIN
    # network_mode: host
    container_name: pihole
    image: pihole/pihole:2025.11.0
    restart: unless-stopped
    env_file:
      - /home/lorenzo/configs/.env
    # Needed otherwise pihole will not be able to resolve domains.
    # So for example I couldn't run apt install inside the container without
    # this
    dns:
      - 1.1.1.1
    ports:
      # Dashboard is accessed through the reverse proxy on dns.internal.
      # But if the reverse proxy or DNS resolution is down I still can
      # access the dashboard directly through this port
      - 8082:80
      # - 53:53/tcp
      # - 53:53/udp
    environment:
      TZ: America/Toronto
      FTLCONF_dns_listeningMode: 'ALL'
    volumes:
      - pihole_etc:/etc/pihole/
      - pihole_dnsmasq:/etc/dnsmasq.d/
